.sidenav{
  background: #fff;
  margin: 1px;
  height: 100%;
  grid-column: 1/4;
  
  ul{
    font-weight: 600;
    padding: 10px 10px 0 10px;
    margin: 0;
    li{
      font-weight: 500;
      padding-left: 10px;
    }
  }
}
.active{
  background: red;
}