$borderGrey: #1C3454;

section{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: stretch;
  gap: 16px;
  max-width:1440px;
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
  margin:0 auto;
  ul{
    list-style: none;
    li{
      line-height: 2em;
      a{
        text-decoration: none;
      }
    }
  }
  .left{
    grid-column: 1/4;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(25, 59, 103, 0.05) 0%, rgba(25, 59, 103, 0) 100%), #FFFFFF;
  
  }
  .middle{
    grid-column: 4/10;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(25, 59, 103, 0.05) 0%, rgba(25, 59, 103, 0) 100%), #FFFFFF;
  
  }
  .right{
    grid-column: 10/13;
    background: url('../../assets/img/bg_adds.png') no-repeat;
    background-size: contain;
    color: #fff;
    padding:0 20px;
  }
}

