.header{
  display: flex;
  justify-content: space-between
  ;
  font-family: 'Helvetica 35 Thin', sans-serif;
  max-width: 1440px;
  margin: 30px auto 0;
  padding-bottom: 9px;
  border-bottom: 1px solid #ebf6de;
  .burger{
    display: flex;
    align-items: center;
  }
  .logo{
    display: inline-flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    img{
      margin-right: 10px;
      max-width: 45px;
    }
    p{
      min-width: 130px;
      font-weight: 500;
    }
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .menu{
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
      li{
        margin-right: 35px;
        position: relative;
        cursor: pointer;
        a{
          font-family: 'Helvetica 35 Thin', sans-serif;
          text-decoration: none;
          &:active{
            color: #000;
          }
        }
        
      }
    }
  }
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span{
      margin-right: 10px;
    }
  }
  .userAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue 35 Light', sans-serif;
    font-weight: 100;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    .userAvatarPhoto{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      width: 36px;
      height: 36px;
      background: #DF0B92;
      border-radius: 50%;
      color: #fff;
    }
    .userAvatarName{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    >ul{
      position: absolute;
      list-style-type: none;
      left: 0;
      top: 36px;
      padding: 10px 40px 10px 10px;
      border-radius : 4px;
      box-shadow:0px 0px 15px -2px #BDC2C7;
      background: #fff;
      li{
        line-height: 20px;
        &:last-child{
          margin-top: 20px;
          color: #FF4238;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px){
  .header{
    .burger{
      display: none;
    }
    .logo{
      flex-grow: 0;
    }
  }
}
.menuWrapper{
  display: flex;
  flex-direction: column;
  position: fixed;
  background: #fff;
  z-index: 9;
  padding: 10px;
  left: 0;
  right:0;
  bottom: 0;
  top: 0;
  transition: 0.5s;
  font-family: 'Helvetica 35 Thin ', sans-serif;
  .menuHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h3{
    margin: 0 10px;
    font-weight: 500;
  }
  .navMenu{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 50px;
    list-style-type: none;
    border: 1px solid #eee;
    border-radius: 4px;
    .menu_transfers{
      list-style-type: none;
      padding-left: 12px;
    }
  }
  .userAvatar{
    .userAvatarName{
      display: none;
    }
  }
}