// form {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   flex-grow: 1;
//   padding-bottom: 1rem;
// }
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
.hide {
  display: none;
}
.show{
  display: block;
}
.alingend{
  align-self: end;
  margin: -55px 15px 15px 0px;
}


.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.loginContainer{
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  margin: 80px 10px 0;
  .loginWrapper{
    max-width: 510px;
    margin: 0 auto;
    h1{
      font-weight: 700;
    }
    p{
      font-size: 14px;
    }
    p > span > a{
      text-decoration: none;
      color: #1e4dfc;
      line-height: 30px;
      
    }
    form{
      text-align: start;
      display: flex;
      flex-direction: column;
      label{
        font-size: 12px;
        margin-bottom: 8px;
        margin-right: 8px;
      }
      input{
        padding: 11px;
        margin-bottom: 16px;
        border: 1px solid rgba(28, 55, 90, 0.16);
        outline: none;
        border-radius: 4px;

      }
      
      button{
        padding: 11px 0;
        color:#fff;
        background: #1E4DFC;
        border-radius: 4px;
        cursor: pointer;

        &[disabled]{
          background: rgba(28, 52, 84, 0.26);
        }
      }
      
      
      span{
        align-self: flex-end;
        margin: 10px 0;
      }
      .spanDescription {
        text-align: start;
        font-size: 14px;
      }
    }
  }
}