
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 192px 350px;
  gap: 16px;
  max-width: 1440px;
  margin: 30px auto;
  font-family: 'Helvetica Neue 35 Light', sans-serif;

  
}

@media only screen and (max-width: 768px) {
  .container{
    
    display: flex;
    flex-direction: column;
  }
  
}


.chartContainer{
  color: red;
}
