
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 16px;
  max-width: 1440px;
  margin: 30px auto;
  font-family: 'Helvetica Neue 35 Light', sans-serif;

  
}

// @media only screen and (max-width: 768px) {
//   .container{
//     .totalBalanceBox{
//       .totalBalanceBoxItem{
//         .itemAmount{
//           span{
//             margin: 0;
//           }
//         }
//       }
//     }
//   }
// }


.chartContainer{
  color: red;
}
