.totalBalanceBox{
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: 'Helvetica 35 Thin', sans-serif;
  
  padding: 16px;
  background: linear-gradient(97.02deg, #8B75FF 1.89%, #6A89FF 100%);
  border-radius: 4px;
  color: #fff;
  p{
    font-size: 0.9em;
    text-align: end;
  }
  .totalBalanceBoxItem{
    padding:0 30px;
    h6{
      margin-bottom: 8px;
      font-size: 13px;
      font-weight: 100;
    }
    .itemAmount{
      font-size: calc(10px + 2vmax);
      margin-bottom: 26px;
      font-weight: 500;
      select{
        margin-left: 24px;
        background: transparent;
        font-size: calc(10px + 2vmax);
        color: #fff;
        border: 0;
        option{
          background: #000;
          font-size: 16px;
        }
      }

    }
    .meterBar{
      display: flex;
      flex-direction: column;
      padding: 1em;
      background: rgba(28, 48, 74, 0.5);
      border-radius: 4px;
      font-size: 0.8em;
      .meter{
        height: 4px;
        width: 100%;
        margin: 8px 0;
        background: #F9A000;
        border-radius: 2px;
        .meterProgress{
          display: block;
          height: 4px;
          background: #15C15D;

        }
      }
    }

  }
}

@media only screen and (max-width: 768px) {
  .totalBalanceBox{
    
    display: flex;
    flex-direction: column;
    background: linear-gradient(#8B75FF, #fff);
    border-radius: 10px;
    p{
      order: 1;
      text-align: center;
      color: #1E4DFC;
      font-weight: 100;
    }
    .totalBalanceBoxItem{
      padding: 0 8px;
      h6{
        margin: 0;
      }
      .itemAmount{
        font-size: calc(23px + 2vmax);
        select{
          optons{
            font-size: calc(23px + 2vmax);
          }
        }
      }
    }
  }
  
}